@{
    ViewData["Title"] = "File page";
}
<body>
    <h1>@ViewData["Title"]</h1>
    <table style=" width: 75%;">
        <thead><tr><th>ID</th><th>Name</th><th>Input time</th><th>Upload User</th><th>Download</th><th>Delete</th></tr></thead>
        <tbody>
            @foreach (var file in ViewBag.Files)
            {
                <tr>
                    <td>
                        @file.File_ID
                    </td>
                    <td>
                        @file.Filename
                    </td>
                    <td>
                        @file.Input_time
                    </td>
                    <td>
                        @file.email
                    </td>
                    <td>
                        <a href="@Url.Action("Download", "Home", new { file = file.Filename, save = file.Save_name })">download</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", "Home", new { file = file.Filename, save = file.Save_name })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
