@{ 
    var sessionValue = (int?)HttpContext.Current.Session["permission"];
    string email = HttpContext.Current.Session["email"] as string;
    string password = HttpContext.Current.Session["password"] as string;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MY ASP.NET APP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Blob", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
                    <li>@Html.ActionLink("File List", "ViewFile", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact us", "Contact", "Home")</li>
                </ul>
                @if (sessionValue == 1)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Azure Storage Management", "AzureManagement", "Home")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div style="display:inline-block"><p>&copy; @DateTime.Now.Year - MY ASP.NET APP</p></div>
                @if(email != null && password != null)
                {
                    <div style="display:inline-block; float:right">@Html.ActionLink("LogOut", "Logout", "Home")</div>
                }
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
